[submodule "denemeSubModule2"]
	path = denemeSubModule2
	url = https://github.com/atabeg1/denemeSubModule2.git
[submodule "denemeSubModule1"]
	path = denemeSubModule1
	url = https://github.com/atabeg1/denemeSubModule1.git
[submodule "denemeSubModule3"]
	path = denemeSubModule3
	url = https://github.com/atabeg1/denemeSubModule3.git
